.header {
  background: #2d0c5e;
  height: 15vh;
  display: flex;
  align-items: center;
}
header{
  height: 75%;
  width: 50%;
  display: flex;
  align-items: flex-end;
}
 header h1 {
  font-size: 5.5rem;
  color: #FFF;
  margin-left: 5%;
  line-height: 1;
}
abbr {
  text-decoration: none;
  color: #b6a5e2;
  font-size: 6.5rem;
}
.app {
  max-width: 100%;
}
 .container {
  display: flex;
  gap: 2.5%;
 }

 /* Description container */
 .description-container {
  justify-content: center;
  display: flex;
  width: 25%;
 }
 .description-card {
  background: #FFF;
  border-radius: 7px;
  width: 80%;
  padding: 10px;
 }
 .description-card p {
  color: gray;
  font-size: 1.2rem;
  padding: 10px;
 }
 .description-card h4 {
  font-size: 3rem;
 }
 /* Pics container */
 .pic-container {
  height: 80%;
  background: #000;
  width: 70%;
  min-width: 70%;
  margin-left: 2.5%;
 }
 .image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
 }
.image-container img {
    height: auto;
    width: 80%;
 }

 /* overlay styles */
 .pic-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  margin-top: 5%;
  width: 70%;
 }
 .pic-overlay-info {
  width: 100%;
  display: flex;
  gap: 45%;
 }
 .pic-overlay-info  .date{
  font-size: 4.5rem;
  margin-left: 30px;
  font-family: 'Courier New', Courier, monospace;
 }
 .pic-overlay-info .title {
  font-size: 5.5rem;
 }
 /* Footer styles */
 footer {
  height: 10vh;
  background: #2d0c5e;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 }
 footer p {
  color: #b6a5e2;
  margin-bottom: 10px;
  font-family:'Courier New', Courier, monospace;
 }
 